
.container {
  background-color: rgb(44, 59, 49);
  display: flex;
  justify-content: center;
  height: auto;
}

.headerinput {
  padding: 80px;
  font-size: 16px;
}

.button {
  padding: 8px;
  font-size: 16px;
  margin: 5px;
  background-color: rgb(15, 119, 107);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(16, 119, 107);
  }

.button:hover {
  background-color: #283349;
  border: 2px solid #242e41;
  cursor: pointer;
}

.Listul {
  color: rgb(0, 0, 0);
  background-color: rgb(15, 119, 107);
  padding: 20px;
  border-radius: 8px;
}